@import "tailwindcss";

body {
  font-family: "Lato", sans-serif;
}

@keyframes slide-in {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out;
}

@keyframes slide-fwd {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translateZ(160px);
  }
}

.animate-slide-fwd {
  animation: slide-fwd 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
